.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: $color-ruby-red;
  border-bottom: 2px solid $color-ruby;

  @media (min-width: 610px) {
    flex-direction: row;
  }
}

.register-form {
  display: flex;
  flex-direction: column;
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
  }
  &__button {
    margin-top: 16px;
  }
}
