$bg-color: #eaeaea;
$bg-color-alpha: rgba(234, 234, 234, 0.9);
$color-ruby: #e0115f;
$color-ruby-red: #9b111e;

$color-primary: #a91401;
$color-primary-dark: #820c02;
$color-primary-light: #d51f06;
$color-secondary: #de3f24;
$color-secondary-light: #eda895;
